@model ProjectManager.Application.ProjectTask.Commands.CreateProjectTask.CreateProjectTaskCommand

<!-- Button trigger modal -->
<div class="text-center">
    <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#createProjectTaskServiceModal">
        Add Task
    </button>
</div>
<!-- Modal -->
<div class="modal fade" id="createProjectTaskServiceModal" tabindex="-1" aria-labelledby="createProjectTaskServiceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-controller="ProjectTask" asp-action="CreateProjectTask">

                <div class="modal-header">
                    <h5 class="modal-title" id="createProjectTaskServiceModalLabel">New Project Task</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input asp-for="ProjectEncodedName" class="form-control" type="hidden" />

                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control text-center" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control text-center" rows="4"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TaskProgressStatus" class="control-label">Status</label>
                        <select asp-for="TaskProgressStatus" class="form-control text-center">
                            <option value="NotAssigned">Not Assigned</option>
                            <option value="InProgress">In Progress</option>
                            <option value="Completed">Completed</option>
                        </select>
                        <span asp-validation-for="TaskProgressStatus" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AssignedUserEmail" class="control-label">Assign to</label>
                        <select asp-for="AssignedUserEmail" class="form-control text-center">
                            <option value="">-- Loading contributors... --</option>
                        </select>
                        <span asp-validation-for="AssignedUserEmail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Deadline" class="control-label"></label>
                        <input asp-for="Deadline" class="form-control text-center" type="datetime-local" value="">
                        <span asp-validation-for="Deadline" class="text-danger"></span>
                    </div>

                    

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" value="Create" class="btn btn-primary">
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
