@using ProjectManager.Application.Project.Commands.CreateProject

@model CreateProjectCommand

@{
    ViewData["Title"] = "Create project";
}


<div class="mt-4 container">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="mt-4">Create New Project</h1>
            <hr />

            <form action="Create" method="post">

                <div class="form-group mb-3">
                    <label class="control-label fw-bold" asp-for="Name">Name</label>
                    <input class="form-control" type="text" asp-for="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label class="control-label fw-bold" asp-for="Description">Description</label>
                    <textarea class="form-control" type="text" asp-for="Description" rows="4"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label class="control-label fw-bold" asp-for="FinishDate">Finish date</label>
                    <input class="form-control text-center" type="datetime-local" asp-for="FinishDate">
                    <span asp-validation-for="FinishDate" class="text-danger"></span>
                </div>

                <div class="form-group mb-3 d-flex justify-content-center">
                    <input type="submit" value="Create" class="btn btn-primary m-1">
                    <button type="reset" class="btn btn-secondary m-1">Clear</button>
                    <a asp-action="Index" class="btn btn-info m-1">Back to List</a>
                </div>

            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}