@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the ProjectManager!</h1>
    <p>This app will help you to manage your project more efficient</p>
</div>
